.profile-container {
    display: flex;
  }
  
  .image-box {
    flex: 0 0 30%; /* Adjust width as needed */
    position: relative;
  }
  
  .profile-image {
    width: 100%;
    border-radius: 50%;
  }
  
  .info-box {
    flex: 0 0 70%; /* Adjust width as needed */
    background-color: #e9dada;
    padding: 20px;
  }
  
  .profile-info {
    margin-top: 50px; /* Adjust based on image size */
  }
  